<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  
  <div id="content">
    <h1>It's a Mr. Stick Figure</h1>
    <p>Shoreditch aesthetic tote bag post-ironic, heirloom meggings prism bitters. Shabby chic hella taiyaki, 8-bit selvage keytar raclette. Fixie tousled slow-carb knausgaard palo santo mlkshk. Forage truffaut tattooed unicorn cloud bread man bun pok pok glossier bushwick offal jianbing semiotics. Woke polaroid synth drinking vinegar shoreditch godard mustache banh mi. Twee green juice stumptown celiac. Drinking vinegar artisan master cleanse chia.</p>
  </div>
</div>